extends layout

block content
    h1= title
    p Welcome to #{title}
    p Currently have #{recordCount} environment records.
    p Most recent climate is #{celsius}&deg;C (#{fahrenheit}&deg;F) and humidity is #{humidity}% as measured #{moment(timestamp).fromNow()}

    div(style="width:75%")
        canvas(id="environmentChart")

    script.
        var tempData = !{tempData};
        var humidityData = !{humidityData};
        var chartLabels = !{chartLabels};
    
    link(rel='stylesheet', href='/stylesheets/Chart.min.css')
    script(src='/javascripts/Chart.min.js')
    script(src='/javascripts/summary_chart.js')